.footer{
    background-color: #6379F4;
}
.footerLogo{
    width: auto;
    height: 40px;
    cursor: pointer;
}
.footerTagline{
    margin-top: 20px;
    width: 280px;
    font-size: 14px;
}
.footerCopyright{
    font-size: 14px;
}

@media screen and (max-width:576px){
    .footer{
        height: auto;
        padding: 0;
        width: 100%;
    }
    .footerBottom{
        padding-bottom: 50px;
    }
    .footerCopyright{
        display: flex;
        justify-content: center !important;
    }
}