.historyContent {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 30px;
  border-radius: 25px;
  
}
.histrow{
  height: 80vh;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
.histrow::-webkit-scrollbar {
  display: none;
}

.titleHistory {
  /* padding: 30px; */
  height: 50px;
  margin-bottom: 20px;
}

.btnFilter {
  width: 155px;
  height: 40px;
  background: rgba(58, 61, 66, 0.1);
  border-radius: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  color: #000000;
}

.imageProfile {
  border-radius: 12px;
}

.nameProfileNav {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 31px;
  color: #3a3d42;
}

.statusTrans {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #7a7886;
}

.iconProfileNav {
  color: #4d4b57;
}

.colorGreen {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #1ec15f;
}

.colorRed {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #ff5b37;
}
@media screen and (max-width:576px){
  .historyContent {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 10px;
    height: 100%;
    margin-bottom: 0 !important;
    border-radius: 30px 30px 0 0;
  }
  .histrow{
    height: 60vh;
    margin: 0;
  }
  
  .titleHistory {
    height: 50px;
    margin-bottom: 0;
  }
  .titleHistory h5{
    font-size: 15px;
  }
}
